{% include header.html %}

{% if site.layout == 'stacked' %}
  <div class="container-lg py-6 p-responsive text-center">
    {% include masthead.html metadata=true %}

    <div {% if site.style == 'dark' %}class="text-white"{% endif %}>
      {{ content }}
    </div>

    <div class="my-6">
      {% include projects.html %}
    </div>

    {% unless posts_total == 0 %}
      <div class="my-6">
        {% include thoughts.html %}
      </div>
    {% endunless %}
  </div>
{% else %}
  <div class="d-md-flex min-height-full {% unless site.style == 'dark' %}border-md-bottom{% endunless %}">

    {% include sidebar.html %}

    {% include page-content-open.html %}

      <h1 class="f00-light lh-condensed">{{ page.title }}</h1>

      {% unless posts_total == 0 %}
        {% include thoughts.html %}
      {% endunless %}

    {% include page-content-close.html %}

  </div>
{% endif %}

{% include footer.html %}
