{%- include header.html -%}

{%- if site.layout == 'stacked' -%}
  <div class="container-lg py-6 p-responsive text-center">
    {%- include masthead.html metadata=false -%}

    <div class="container-md f4 text-left border rounded-2 bg-white p-3 p-sm-5 mt-6">
      <h1 class="f00-light lh-condensed mb-5">{{ page.title }}</h1>
      {{ content }}
    </div>
  </div>
{%- else -%}
  <div class="d-md-flex min-height-full {% unless site.style == 'dark' %}border-md-bottom{% endunless %}">

    {%- include sidebar.html -%}

    {% include page-content-open.html %}

      <div class="f4 {% if site.style == 'dark' %}text-white{% endif %}">
        <h1 class="f00-light lh-condensed mb-5">{{ page.title }}</h1>
        {{ content }}
      </div>


    {% include page-content-close.html %}

  </div>
{%- endif -%}

{% include footer.html %}
