{%- include header.html -%}

{%- if site.layout == 'stacked' -%}
  <div class="container-lg py-6 p-responsive text-center">
    {%- include masthead.html metadata=true -%}

      {%- if site.pages -%}
        {%- include page-list.html -%}
      {%- endif -%}

      {%- include for-hire.html -%}

    <div {% if site.style == 'dark' %}class="text-white"{% endif %}>
      {{ content }}
    </div>

    <div class="my-6">
      {%- include projects.html -%}
    </div>

    {%- if site.topics -%}
      <div class="my-6">
        {% include interests.html %}
      </div>
    {% endif %}

    {% unless posts_total == 0 %}
      <div class="my-6">
        {% include thoughts.html %}
      </div>
    {% endunless %}
  </div>
{% else %}
  <div class="d-md-flex min-height-full {% unless site.style == 'dark' %}border-md-bottom{% endunless %}">

    {% include sidebar.html %}

    {% include page-content-open.html %}

      {{ content }}

      {% include projects.html %}

      {% include recent_post_list.html %}

    {% include page-content-close.html %}

  </div>
{% endif %}

{% include footer.html %}
